body { 
    background-color: #926b46; 
}
header {background-color: #233d0f;
  padding: 20px;
  text-align: center;
  color: #f2eeea;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  img {
  border-radius: 50%
}
}
.navbar {
  width: 100%;
  background-color: #85a874;
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
    background-color: #85a874; 
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  width: 18%;
  text-align: center; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  
.navbar a:hover {
  background-color: #f2eeea;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;}

main { padding:1px;
padding-right:20px;
padding-bottom:20px;
padding-left: 30px; 
display:block;
background-color: #85a874;
overflow: auto;} 

section {
    margin-left: 2em; 
    margin-right: 2em;
    flex:1}
 .flow {
    display: flex;
    flex-direction: row;}
footer {  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: large;
    padding: 2em;
    background-color: #233d0f;
  }

  .fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-instagram {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}




