body { 
    background-color: #926b46; 
    height: 100%;
}

html {
    height: 100%;
}


.hero-image {
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("texas\ ag\ zone.jpg");

  
  height: 50%;

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header {
  background-color: #233d0f;
  padding: 20px;
  text-align: center;
  color: #f2eeea;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header img {
  border-radius: 50%;
}


.navbar {
  width: 100%;
  background-color: #85a874;
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
    background-color: #85a874; 
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  width: 18%;
  text-align: center; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  
.navbar a:hover {
  background-color: #f2eeea;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;}

main { padding:1px;
padding-right:20px;
padding-bottom:20px;
padding-left: 30px; 
display:block;
background-color: #85a874;
overflow: auto;} 
img {
  border: 5px solid #555;
}


h2 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #f2eeea;
    padding: 20px;}

section {
    margin-left: 2em; 
    margin-right: 2em;
    flex: 1;
}
 .flow {
    display: flex;
    flex-direction: row;}
footer {  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: large;
    padding: 2em;
    background-color: #233d0f;
  }

  .fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-instagram {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.infographic-section {

  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infographic-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #233d0f;
}


.infographic-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
 
  margin: auto;
}

@media (min-width: 800px) {
  .infographic-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.infographic-card {
  
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.native-benefits {
  padding: 50px 20px;;
  display: flex;
  justify-content: center;
}

.benefits-box {
  
  max-width: 700px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  border-left: 6px solid #588157;
  transition: transform 0.3s ease;
}




.benefits-box h2 {
  margin-top: 0;
  color: #000000;
  font-size: 45px;
}


.intro {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}


.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list li {
  margin-bottom: 12px;
  font-size: 30px;
  color: #000000;
  line-height: 1.5;
}


.highlight {
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
}

input[type=text], input[type=submit] {
  
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox] {
  margin-top: 16px;
}


input[type=submit] {
  background-color: #926b46;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
tr:nth-child(even) {
  background-color: #f2f2f2;}
  .column {
  float: left;
  width: 50%;
}
.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.column.column-left {
  float: left;
  width: 50%;
}

.column.column-right {
  float: right;
  width: 50%;
}
.tools-intro {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
   max-width: 700px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  border-left: 6px solid #588157;
  transition: transform 0.3s ease;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}